@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: rgb(255, 255, 255);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Customizing Swiper Component */
.swiper-button-next {
  background-image: url(./static/images/next.svg);
  background-color: rgba(255, 255, 255, 0.9);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  background-image: url(./static/images/prev.svg);
  background-color: rgba(255, 255, 255, 0.9);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next-card {
  background-image: url(./static/images/circle-right.svg);
  background-color: rgba(255, 255, 255, 0.9);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-next-card::after {
  display: none;
}

.swiper-button-prev-card {
  background-image: url(./static/images/circle-left.svg);
  background-color: rgba(255, 255, 255, 0.9);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev-card::after {
  display: none;
}
/* Displays */
.show {
  display: block;
}

.hide {
  display: hide;
}

/* Imgs */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
